* {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2rem;
  color: #E0DFE0;
}

h2 {
  font-size: 1.75rem;
  color: #97979C;
}

h3 {
  font-size: 1.75rem;
  color: #E0DFE0;
}

p {
  font-size: 1rem;
  color: #FFFFFF;
}